# **Housing_Price_Regression**

In [1]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\madoka\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\madoka\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\madoka\anaconda3\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.5.0 in c:\users\madoka\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\madoka\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import libraries for data manipulation
import pandas as pd

import numpy as np

# Import libraries for data visualization
import matplotlib.pyplot as plt

import seaborn as sns

from statsmodels.graphics.gofplots import ProbPlot

# Import libraries for building linear regression model
from statsmodels.formula.api import ols

import statsmodels.api as sm



from sklearn.linear_model import LinearRegression

# Import library for preparing data
from sklearn.model_selection import train_test_split

# Import library for data preprocessing
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("housing.csv")

df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
df.shape

(545, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [6]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [7]:
# Separate the dependent variable and indepedent variables
Y = df['price']

X = df.drop(columns = {'price', 'mainroad', 'guestroom', 'airconditioning', 'prefarea', 'furnishingstatus'})

In [8]:
X = pd.get_dummies(X, drop_first = True)

In [9]:
X.head()

,area,bedrooms,bathrooms,stories,parking,basement_yes,hotwaterheating_yes
0,7420,4,2,3,2,0,0
1,8960,4,4,4,3,0,0
2,9960,3,2,2,2,1,0
3,7500,4,2,2,3,1,0
4,7420,4,1,2,2,1,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [11]:
# splitting the data in 70:30 ratio of train to test data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.30, random_state = 1)

In [12]:
print("X train: ",X_train.shape)
print("X test: ",X_test.shape)
print("y train: ",y_train.shape)
print("y test: ",y_test.shape)

X train:  (381, 7)
X test:  (164, 7)
y train:  (381,)
y test:  (164,)

In [13]:
# Import libraries for data visualization
import matplotlib.pyplot as plt

from statsmodels.graphics.gofplots import ProbPlot
from sklearn.metrics import mean_squared_error

# Import libraries for building linear regression model
from statsmodels.formula.api import ols

import statsmodels.api as sm

# from sklearn.linear_model import LinearRegression

# Import library for preparing data
from sklearn.model_selection import train_test_split

# Import library for data preprocessing
from sklearn.preprocessing import MinMaxScaler

from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn import metrics


import warnings
warnings.filterwarnings("ignore")

In [14]:
from sklearn.ensemble import GradientBoostingRegressor
# define model
gradient_reg = GradientBoostingRegressor(random_state=0)
parameters={'n_estimators': [10000], 'max_bin': [1, 10, 100, 1000], 'max_depth':[100,1000,10000,100000],'num_leaves':[10,100,1000,10000], 'min_samples_split': [100,1000,10000,100000], 'min_samples_leaf': [100, 1000, 10000, 100000], 'max_features':[5]
  }
# Fitting the model
gradient_reg.fit(X_train, y_train)
GradientBoostingRegressor(random_state=0)

#search_grid = {'n_estimators': [5000, 10000, 20000],
             # 'learning_rate': [0.00001, 0.0001, 1], 'num_iterations': [1000, 10000, 100000], 'random_state':[1]}

y_pred_train = gradient_reg.predict(X_train)
r2_score_train = r2_score(y_train, y_pred_train)
# Predicting RMSE the Train set results
rmse_train = (np.sqrt(mean_squared_error(y_train, y_pred_train)))


y_pred_test = gradient_reg.predict(X_test)
r2_score_test = r2_score(y_test, y_pred_test)
# Predicting RMSE the Test set results
rmse_test = (np.sqrt(mean_squared_error(y_test, y_pred_test)))


print('R2_train: ', r2_score_train)
print('R2_test: ', r2_score_test)
print("RMSE_train: ", rmse_train)
print("RMSE_test: ", rmse_test)

R2_train:  0.8260951940032366
R2_test:  0.5516424578145565
RMSE_train:  750976.2937709974
RMSE_test:  1350929.5868682857

In [15]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression().fit(X_train, y_train)

In [16]:
# Predicting R2 Score the Train set results
y_pred_train = linear.predict(X_train)
r2_score_train = r2_score(y_train, y_pred_train)
# Predicting RMSE the Train set results
rmse_train = (np.sqrt(mean_squared_error(y_train, y_pred_train)))

# Predicting R2 Score the Test set results
y_pred_test = linear.predict(X_test)
r2_score_test = r2_score(y_test, y_pred_test)
# Predicting RMSE the Test set results
rmse_test = (np.sqrt(mean_squared_error(y_test, y_pred_test)))

print('R2_train: ', r2_score_train)
print('R2_test: ', r2_score_test)
print("RMSE_train: ", rmse_train)
print("RMSE_test: ", rmse_test)

R2_train:  0.6224259235749909
R2_test:  0.5352587410629083
RMSE_train:  1106551.2166233582
RMSE_test:  1375390.7159945702

In [17]:
import pickle

In [18]:
# Saving model to disk
pickle.dump(gradient_reg, open('model.pkl','wb'))

In [19]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[8000, 3, 2, 3,2,1,1]]))

[8357433.19312691]